@font-face {
  font-family: "GEETYPE-CuYuanGBT-Flash";
  src: url("./fonts/GEETYPE-CuYuanGBT-Flash.ttf");
}

body {
  font-size: 20px;
  width: 300px;
  font-family: "Fredoka One", "Microsoft YaHei", "sans-serif";
  /*background-color: #141414;*/
  transition: 0.6s all ease;
  animation: 0.6s bodycolor;
  /* transform: scale(1.5) translateX(50px); */
  transform: scale(1.5) translateX(100px);
  transform-origin: 0 0;
}

@keyframes bodycolor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  /*滚动条整体样式*/

  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/

  height: 1px;
  display: none;
}

body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/

  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

  background: #4e4e4e;
}

body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgb(48, 48, 48);
}

.bar {
  margin: 10px 0;
}
.name {
  color: aliceblue;
  font-weight: bold;
  background-color: orange;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
  transition: 1.4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: 0.4s name;
}
.msg {
  margin: 5px 0;
  color: aliceblue;
  font-weight: bold;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

@keyframes name {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

.bar-2 {
  /* background-color: #1e1e1e; */
  background-color: #141414;
  animation: 0.4s name-2, 0.4s name-2-out ease 8s, 1s padding-height ease-in-out;
  /* animation: 1s name-2 cubic-bezier(0.68, -0.51, 0.1, 1.79); */
  padding: 5px 8px;
  /* box-shadow: 0px -2px 0px #2f2f2f, 0px -3px 0px #000000; */
  box-shadow: inset -2px -1px 2px 0px #1f2214, inset 1px 1px 1px 0px #f7eb29,
    inset -4px 2px 0px 0px #805733;
}

@keyframes name-2-out {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
    /* transform: rotate3d(1, 0.1, -0.05, 180deg); */
    opacity: 1;
  }

  100% {
    transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes padding-height {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 50em;
  }
}

.bar-2:hover {
  background-color: #312149;
  transition: 0.2s all ease;
}

.name-2 {
  color: orange;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  /* 普通彩色 */
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
  /* 立体风彩色 */
  /* text-shadow: #f00 1px 0 0, #00ff0a 0 1px 0, #1000ff -1px 0 0, #373737 0 -1px 0; */
  transition: 1.4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: 0.8s text-2;
}
.msg-2 {
  margin: 5px 0;
  color: #ededed;
  display: inline-block;
  position: relative;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /*animation: 0.6s msg-2 ease-in-out;*/
  animation: 1s lv-2, 0.8s msg-2 ease 0.2s;

  /* text-shadow: #000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0; */
  /* font-weight: bold; */

  /* font-weight: lighter; */
}

@keyframes name-2 {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
    /* transform: rotate3d(1, 0.1, -0.05, 180deg); */
    opacity: 0;
  }

  50% {
    background-color: rgb(145, 144, 243);
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

@keyframes text-2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes msg-2 {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.lv {
  width: 1em;
  /* background-image: -webkit-linear-gradient(#1867de, #174475); */
  height: 1em;
  margin-left: 5px;
  color: #807945;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1s lv-2;
  display: inline-table;
  text-align: center;
  border: 1.2px solid #9b4e52;
}

@keyframes lv-2 {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fan {
  width: 1em;
  background-image: -webkit-linear-gradient(#f02e78, #b10e96);
  height: 1em;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1s fan-2;
  text-align: center;
}

@keyframes fan-2 {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fanImg {
  /* width: 1em; */
  height: 1em;
  animation: 1s fan-2;
  padding: 4px;
  margin-left: 2px;
  top: 5px;
  position: relative;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1s fanImg;
}

@keyframes fanImg {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.textToImg {
  max-width: 100%;
  border-radius: 0.2em;
}

.textToIcon {
  /*width: 40px;*/
  height: 40px;
  border-radius: 0.2em;
}

.textToEmoji {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: fit-content;
}

.toolbar {
  /* 样式一 灰色经典 */
  /* width: 300px;
      height: 60px;
      background-color: #bebbb5;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: inset -2px -3px 0px #8d8b83, 
                  inset 2px 3px 0px #f6efdf; */

  width: 300px;
  height: 60px;
  background-color: #16170a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset -2px -3px 2px 0px #afb73a, inset 1px 2px 1px 0px #f7e982,
    -2px -1px 0px 0px #895d37, 1px 2px 0px 0px #000000;
  animation: 0.4s msg-2;
  margin-bottom: 10px;
}

.toolbar-icon {
  /* 样式一 灰色经典 */
  /* width: 40px;
      height: 40px;
      background-color: #bebbb5;
      box-shadow: inset -2px -3px 2px 0px #8d8b83, 
                  inset 1px 2px 1px 0px #f6efdf, 
                  -2px -1px 0px 0px #8d8b83, 
                  1px 2px 0px 0px #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; */

  width: 40px;
  height: 40px;
  background-color: #322378;
  box-shadow: inset -2px -3px 2px 0px #b7b33a, inset 1px 2px 1px 0px #f7d382,
    -2px -1px 0px 0px #895537, 1px 2px 0px 0px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  animation: 0.4s toolbar-icon;
}

.toolbar-icon:hover {
  background-color: rgb(145, 144, 243);
  transition: 0.2s all ease;
}

@keyframes toolbar-icon {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}

.toolbar-icon-img {
  width: 100%;
  height: 100%;
}

.toolbar-icon .toolbar-icon-img:hover {
  background-color: rgb(145, 144, 243);
  transition: 0.2s all ease;
}

.toolbar-icon .toolbar-icon-img:active {
  background-color: rgb(39, 35, 167);
  transition: 0.2s all ease;
}

.bar-breaktime {
  background-color: #fccd3e;
  box-shadow: 0px -2px 0px #2f2f2f, 0px -3px 0px #000000;
  animation: 1s breaktime ease, 0.4s breaktime-2-out ease-in-out 8s,
    0.8s padding-height-out ease 8s;
  /* animation: 1s breaktime ease; */
  padding: 20px;
  box-shadow: inset 1px -15px 20px #ab4f01, inset 10px 5px 20px #fff38f,
    inset -2px -3px 2px 0px #8d8b83, inset 1px 2px 1px 0px #f6efdf,
    -2px -1px 0px 0px #8d8b83, 1px 2px 0px 0px #ee9624;
  margin-bottom: 6px;
}

.bar-breaktime-out {
  animation: 0.4s breaktime-2-out ease-in-out 8s,
    0.8s padding-height-out ease 8s;
}

.bar-breaktime-2 {
  background: linear-gradient(45deg, #4caf50, #cddc39);
  box-shadow: 0px -2px 0px #2f2f2f, 0px -3px 0px #000000;
  animation: 1s breaktime;
  padding: 20px;
  box-shadow: inset 1px -15px 20px #009688, inset 10px 5px 20px #cddc39,
    inset -2px -3px 2px 0px #8d8b83, inset 1px 2px 1px 0px #f6efdf,
    -2px -1px 0px 0px #8d8b83, 1px 2px 0px 0px #8bc34a;
  margin-bottom: 6px;
  transition: 1s all ease;
  /* background-position-x: -300px; */
  background-repeat: no-repeat;
}

.bar-breaktime-3 {
  background-color: #ddd;
  box-shadow: 0px -2px 0px #2f2f2f, 0px -3px 0px #000000;
  animation: 1s breaktime ease, 0.4s breaktime-2-out ease-in-out 8s,
    0.8s padding-height-out ease 8s;
  padding: 20px;
  box-shadow: inset 1px -15px 20px #3b3b3b, inset 10px 5px 20px #e5e5e5,
    inset -2px -3px 2px 0px #797979, inset 1px 2px 1px 0px #adadad,
    -2px -1px 0px 0px #8d8b83, 1px 2px 0px 0px #909090;
  margin-bottom: 6px;
}

.tab-content {
  background: border-box;
  background-size: cover;
  background-color: #e5e5e5;
  animation: 1s msg-2 cubic-bezier(0.68, -0.51, 0.1, 1.79),
    0.4s visitor-out ease 8s;
  /* padding: 20px 32px; */
  background-position-y: center;
  border-radius: 5px 10px 50px 5px;
  filter: drop-shadow(2px 4px 6px #ff9bcd);
  margin-bottom: 0.5em;
  display: block;
  padding: 5px 8px;
}

.tab-content .breaktime-name {
  font-size: large;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  margin-left: 2.5em;
}

.tab-content .name-2 {
  display: none;
}

@keyframes tab-content-name {
  0% {
    transform: translateX(-300px);
    opacity: 0.5;
    max-height: 0em;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
    max-height: 50em;
  }
}

@keyframes tab-content-name-out {
  0% {
    transform: translateX(0px);
    opacity: 1;
    max-height: 50em;
  }

  100% {
    transform: translateX(300px);
    opacity: 0.5;
    max-height: 0em;
  }
}

@keyframes breaktime-2-out {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
    /* transform: rotate3d(1, 0.1, -0.05, 180deg); */
    opacity: 1;
  }

  100% {
    transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.info-icon-img {
  width: 1em;
  height: 1em;
  margin-left: 5px;
  margin-right: 10px;
}

.breaktime-name {
  /* font-weight: bold; */
  color: #b37212;
  background-image: linear-gradient(180deg, #954602, #efc82b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  transition: 1s all ease;
  text-shadow: #ef9b30 1px 0 0, #8d6d0b 0 1px 0, #443413 -1px 1px 0,
    #b24827 1px -1px 0px;
  font-family: "Denk One", "times new roman", "GEETYPE-CuYuanGBT-Flash",
    "华文中宋";
}

.breaktime-msg {
  font-family: "times new roman", "宋体";
  text-align: center;
}

@keyframes breaktime {
  0% {
    transform: rotate3d(1, 0.1, -0.05, 180deg) rotateY(45deg) rotateZ(30deg)
      translateX(-50px);
    opacity: 0;
  }
  30% {
    transform: translateY(30px);
  }
  50% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

@keyframes breaktime-out {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }

  100% {
    transform: rotate3d(1, 0.1, -0.05, 180deg);
    opacity: 0;
  }
}

.closewindow {
  float: right;
}

.progress-frame {
  width: 100%;
  height: 1.5em;
  background-color: transparent;
  border-radius: 1em;
  box-shadow: inset -5px -5px 8px 2px #185c5a, inset 4px 2px 5px 2px #89f5d4,
    0px 0px 6px 3px #000000, 0px 0px 13px 1px #80ffe4;
  transition: 1s all ease-in-out;
  margin: 1.5em 0;
  overflow: hidden;
}

.progress-bar {
  background-color: #14b5a3;
  width: 90%;
  z-index: -1;
  position: relative;
  height: 1.5em;
  border-radius: 1em;
  transition: 1s all ease-in-out;
  box-shadow: inset -20px -5px 15px 2px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
    inset 6px 1px 8px 4px #125884;
  animation: 5s progress-bar ease-in-out infinite;
}

@keyframes progress-bar {
  0% {
    box-shadow: inset -20px -5px 15px 2px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
      inset 6px 1px 8px 4px #125884;
  }

  50% {
    box-shadow: inset -10px 15px 20px 4px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
      inset 6px 1px 20px 20px #125884;
  }

  100% {
    box-shadow: inset -20px -5px 15px 2px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
      inset 6px 1px 8px 4px #125884;
  }
}

.progress-frame-red {
  width: 100%;
  height: 1.5em;
  background-color: transparent;
  border-radius: 1em;
  box-shadow: inset -5px -5px 8px 2px #5c1818, inset 4px 2px 5px 2px #f58989,
    0px 0px 6px 3px #000000, 0px 0px 13px 1px #ff809c;
  transition: 1s all ease-in-out(0.18, 0.89, 0.32, 1.28);
  margin: 1.5em 0;
  overflow: hidden;
}

.progress-bar-red {
  background-color: #b51414;
  width: 90%;
  z-index: -1;
  position: relative;
  height: 1.5em;
  border-radius: 1em;
  transition: 1s all ease-in-out;
  box-shadow: inset -20px -5px 15px 2px #fd4242, inset 0px 4px 0px 1px #f6a2ad,
    inset 6px 1px 8px 4px #84122b;
  animation: 5s progress-bar-red ease-in-out infinite;
}

@keyframes progress-bar-red {
  0% {
    box-shadow: inset -20px -5px 15px 2px #fd4242, inset 0px 4px 0px 1px #f6a2b4,
      inset 6px 1px 8px 4px #84122e;
  }

  50% {
    box-shadow: inset -10px 15px 20px 4px #fd4242, inset 0px 4px 0px 1px #f6a2b4,
      inset 6px 1px 20px 20px #84122e;
  }

  100% {
    box-shadow: inset -20px -5px 15px 2px #fd4242, inset 0px 4px 0px 1px #f6a2b4,
      inset 6px 1px 8px 4px #84122e;
  }
}

.QA-frame {
  width: auto;
  height: auto;
  border: 1px solid #141414;
  padding: 1em;
  background-color: #230447;
  box-shadow: inset 0 0 12px 2px #080118;
  overflow: hidden;
  animation: 1s toolbar-icon cubic-bezier(0.39, 0.1, 0, 1.16);
  margin-bottom: 0.5em;
}

.QA-frame-active {
  width: auto;
  height: auto;
  border: 1px solid #141414;
  padding: 1em;
  background-color: #230447;
  box-shadow: inset 0 0 12px 2px #080118;
  overflow: hidden;
  animation: 1s toolbar-icon cubic-bezier(0.39, 0.1, 0, 1.16),
    5s QA-frame ease-in-out infinite;
  margin-bottom: 1em;
  background-image: url(./extend_icon_default.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: -70%;
  background-position-x: 200%;
}

@keyframes QA-frame {
  0% {
    box-shadow: inset -20px -5px 15px 2px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
      inset 6px 1px 8px 4px #125884;
  }

  50% {
    box-shadow: inset -10px 15px 20px 4px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
      inset 6px 1px 20px 20px #125884;
  }

  100% {
    box-shadow: inset -20px -5px 15px 2px #42fdd5, inset 0px 4px 0px 1px #a2eef6,
      inset 6px 1px 8px 4px #125884;
  }
}

.QA-title {
  color: #777777;
  margin-bottom: 0.2em;
  animation: 1.8s lv-2;
}

.QA-question {
  color: #eee;
  margin-bottom: 1.2em;
  animation: 1.6s msg-2;
  text-shadow: 1px 1px #000, -1px -1px #000;
}

button.QA-accept {
  width: 5em;
  height: 5em;
  background-color: #14b5a3;
  /* background-image: linear-gradient(45deg, #3eb828, #3dc262); */
  border: 1px solid #65fff0;
  color: #fff;
  font-size: 16px;
  padding: 0.2em 1em;
  text-shadow: 1px 1px #9db430, -1px -1px #071814;
  border-radius: 50%;
  box-shadow: inset 1px 1px 5px 0px #44fdd6, inset -2px -2px 5px 5px #0e656e,
    0px 6px 0px 2px #106369, 0px 12px 0px 1px #072226,
    -1px -1px 19px 0px #1bc4d9, 4px 2px 20px 1px #238a69,
    6px 2px 6px 2px #000000, -10px 10px 20px 0px #2bcfc4;
  margin-right: 5px;
  text-align: center;
}

button.QA-refuse {
  width: 5em;
  height: 5em;
  background-color: #c32c37;
  /* background-image: linear-gradient(45deg, #2883b8, #3d67c2); */
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  padding: 0.2em 1em;
  text-shadow: 1px 1px #305eb4, -1px -1px #071018;
  border-radius: 50%;
  /* box-shadow: inset -5px -5px 8px 2px #18385c, inset 4px 2px 3px 1px #89c4f5, 0px 0px 1px 1px #7c92aa, 0px 0px 3px 1px #809eff; */
  margin-right: 5px;
  box-shadow: inset 1px 1px 5px 0px #fd4444, inset -2px -2px 5px 5px #6e0e1b,
    0px 6px 0px 2px #69101f, 0px 12px 0px 1px #260710;
}

button.btn-close {
  display: block;
  position: relative;
  float: right;
  color: rgb(54, 54, 54);
  text-shadow: 1px 1px #14b5a3, -1px -1px #c32c37;
  font-size: 24px;
  padding: 1px 14px;
  margin: 0;
}

.toolbar-dev {
  width: 300px;
  height: auto;
  background-color: #999894;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset -2px -3px 2px 0px #d5d5d5, inset 1px 2px 1px 0px #f9f9f9,
    -2px -1px 0px 0px #202020, 1px 2px 0px 0px #464646;
  margin-bottom: 10px;
  position: absolute;
  left: 320px;
  padding: 0.9em 1em;
  flex-wrap: wrap;
}

.toolbar-icon-dev {
  /* 样式一 灰色经典 */
  /* width: 40px;
      height: 40px;
      background-color: #bebbb5;
      box-shadow: inset -2px -3px 2px 0px #8d8b83, 
                  inset 1px 2px 1px 0px #f6efdf, 
                  -2px -1px 0px 0px #8d8b83, 
                  1px 2px 0px 0px #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; */
  width: auto;
  height: 2.5em;
  color: #fff;
  background-color: #a5a39c;
  box-shadow: inset -2px -3px 1px 0px #8b8b8b, inset 1px 2px 1px 0px #ababab,
    -2px -1px 0px 0px #666363, 1px 2px 0px 0px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  margin-right: 10px;
  margin-bottom: 1em;
  text-shadow: 1px 1px #848484, -1px -1px #171717;
  padding: 0 01em;
}

.toolbar-icon-dev:hover {
  background-color: rgb(145, 144, 243);
  transition: 0.2s all ease;
}

.app {
  /*perspective: 500px;*/
}

#mainpage {
  /* perspective: 400px; */
  /* perspective-origin: center; */
}

.visitor {
  background: border-box;
  background-size: cover;
  /* background-color: #068f78; */
  background-color: #555;
  box-shadow: inset -2px -3px 1px 0px #8b8b8b, inset 1px 2px 1px 0px #ababab,
    -2px -1px 0px 0px #666363, 1px 2px 0px 0px #000000;
  background-image: url(./8da19b46256313.584dd8618212f.gif);
  animation: 1s msg-2 cubic-bezier(0.68, -0.51, 0.1, 1.79),
    0.4s visitor-out ease 8s, 1s padding-height ease-in-out;
  padding: 5px 8px;
  background-position-y: center;
  border: 1px solid #790000;
  margin-bottom: 2px;
  border-radius: 0px 10px 50px 0;
}

.visitor-name {
  width: auto;
  /* background-image: -webkit-linear-gradient(#1867de, #174475); */
  height: 1em;
  margin-left: 5px;
  color: #ebebeb;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1s lv-2;
  display: inline-table;
  text-align: center;
  /* border: 1.2px solid #33afe9; */
}

@keyframes visitor-out {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
    /* transform: rotate3d(1, 0.1, -0.05, 180deg); */
    opacity: 1;
  }

  100% {
    transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.visitor-bg {
  transition: 0.6s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  d: path("m 30 0 H 73 v 32 h -43 c 0 0 0 0 0 -32 z");
  transform: scale(3);
  fill: blueviolet;
  /* animation: 1s visitor-bg-in cubic-bezier(0.68, -0.51, 0.1, 1.79),
      0.4s visitor-out ease 8s; */
}

@keyframes visitor-bg-in {
  0% {
    transition: 0.6s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    d: path("m 30 0 H 73 v 32 h -43 c 0 0 0 0 0 -32 z");
  }

  100% {
    transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    d: path("m 30 0 H 230 v 32 h -200 c 0 0 -25 -16 0 -32 z");
  }
}

.toolbar-panel {
  position: absolute;
  height: 300px;
  border: 1px solid #000;
  padding: 0;
  margin: 0;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  background: #999894;
  z-index: 10;
  box-shadow: inset -2px -3px 2px 0px #b1393b, inset 1px 2px 1px 0px #f67e80,
    -2px -1px 0px 0px #823536, 1px 2px 0px 0px #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.chatbot-bar-top {
  background-color: white;
  padding: 0.5em;
  border-radius: 1em;
  float: left;
  width: fit-content;
}

.chatbot-bar-bottom {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.95em;
  float: left;
  width: fit-content;
}

.chatbot-bar {
  display: flex;
  flex-direction: column;
  font-family: "cursive", "Microsoft YaHei", "sans-serif";
  font-size: 1em;
  margin-bottom: 1em;
}

span.chatbot-bar-name {
  background-color: aqua;
  border-radius: 0.8em;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
}

span.chatbot-bar-icon {
  width: 1.1em;
  height: 1.1em;
  background-color: #03a9f4;
  display: inline-block;
  border-radius: 50%;
}

/* 2020-11-07 */
.visitor-2 {
  width: 100%;
  /* height: 1em; */
  animation: 0.6s lv-2 ease-in-out, 0.8s breaktime-3 ease-in-out,
    /* 3s text-come-in ease-in-out, */ 2s colorful-flash ease-in-out infinite,
    0.4s visitor-out ease 8s;
  padding: 0.5em 0;
  padding-bottom: 0.8em;
  border-radius: 0.1em 0.4em 0.6em 0.2em;
  overflow: hidden;
}

.visitor-name-2 {
  text-align: center;
  animation: 10s text-rotate-2 ease-in-out infinite 4s;
}

.visitor-content-2 {
  color: white;
  background-color: black;
  padding: 1em;
  margin-top: 0.3em;
  animation: 1s breaktime-3 0.2s ease-in-out;
  border-radius: 0 1em 1em 0;
}

/* 2022-12-17 */
.visitor-3 {
  width: 100%;
  /* height: 1em; */
  animation: 0.6s lv-2 ease-in-out, 0.8s breaktime-3 ease-in-out,
    /* 3s text-come-in ease-in-out, */ 2s colorful-flash ease-in-out infinite,
    0.4s visitor-out ease 8s, 1s padding-height ease-in-out;
  padding: 0.5em 0;
  padding-bottom: 0.8em;
  border-radius: 0.1em 0.4em 0.6em 0.2em;
  overflow: hidden;
}

.visitor-christmas {
  background: border-box;
  background-size: cover;
  /* background-color: #068f78; */
  background-color: #555;
  box-shadow: inset -2px -3px 1px 0px #8b8b8b, inset 1px 2px 1px 0px #ababab,
    -2px -1px 0px 0px #666363, 1px 2px 0px 0px #000000;
  background-image: url(./8da19b46256313.584dd8618212f.gif);
  animation: 1s msg-2 cubic-bezier(0.68, -0.51, 0.1, 1.79),
    0.4s visitor-out ease 8s, 1s padding-height ease-in-out;
  padding: 5px 8px;
  background-position-y: center;
  border: 1px solid #790000;
  margin-bottom: 2px;
  border-radius: 0px 10px 50px 0;
}

.visitor-name-christmas {
  font-family: "Denk One", sans-serif;
  color: #eee;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
  text-align: center;
  animation: 10s text-rotate-2 ease-in-out infinite 4s;
}

.visitor-content-christmas {
  color: white;
  background-color: rgba(185, 11, 11, 0.85);
  padding: 0.8em;
  margin-top: 0.3em;
  animation: 1s text-shake 0.2s ease-in-out;
  border-radius: 0 1em 1em 0;
}

@keyframes colorful-flash {
  0% {
    background-color: #009688;
    color: #edf4fa;
  }
  25% {
    background-color: #f84462;
    color: #eff3f7;
  }
  50% {
    background-color: #dbf351;
    color: #6b6a6a;
  }
  75% {
    background-color: #52e252;
    color: #c5c5c5;
  }
  100% {
    background-color: #009688;
    color: #e4edf5;
  }
}

@keyframes text-shake {
  0% {
    transform: translate3d(0px, 0px, 0em) rotate(0deg);
  }
  25% {
    transform: translate3d(-25px, 2px, 0em) rotate(15deg);
  }
  50% {
    transform: translate3d(10px, -2px, 0em) rotate(-5deg);
  }
  75% {
    transform: translate3d(-8px, 1px, 0em) rotate(4deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0em) rotate(0deg);
  }
}

@keyframes text-rotate {
  0% {
    transform: scale3d(0, 0, 0);
  }
  5% {
    transform: scale3d(3, 1.5, 2);
  }
  10% {
    transform: scale3d(0, 0, 0);
  }
  100% {
    transform: scale3d(0, 0, 0);
  }
}

@keyframes text-rotate-2 {
  0% {
    transform: scale3d(0, 0, 0);
  }
  5% {
    transform: scale3d(1.5, 1.1, 2);
  }
  10% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes text-come-in {
  0% {
    transform: translateX(0px) scale3d(1, 1, 1);
  }
  5% {
    transform: translateX(40px) scale3d(1.5, 0.5, 1);
  }
  15% {
    transform: translateX(-30px) scale3d(0.9, 1.2, 2);
  }
  40% {
    transform: translateX(5px) scale3d(1, 0.9, 0.9);
  }
  100% {
    transform: translateX(0px) scale3d(1, 1, 1);
  }
}

@keyframes breaktime-3 {
  0% {
    transform: rotate3d(1, 0.1, -0.05, 180deg);
    opacity: 0;
  }

  10% {
    opacity: 0;
    transform: scale(-0.2) skew(30deg, 10deg) translateX(-500px) rotateY(90deg);
  }

  90% {
    opacity: 1;
    transform: scale(1) skew(0deg, 0deg) translateX(0px) rotateY(0deg);
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

.badge-icon {
  height: 1.5em;
  transform: translate(0.15em, 0.3em);
  transition: 0.4s all ease;
  animation: 0.8s text-shake-2;
  transform-origin: center;
}

@keyframes text-shake-2 {
  0% {
    transform: translate3d(0px, 0px, 0em) rotate(0deg) translate(0.15em, 0.3em);
    transform-origin: center;
  }
  50% {
    transform: translate3d(10px, -2px, 0em) rotate(-5deg)
      translate(0.15em, 0.3em);
    transform-origin: center;
  }
  100% {
    transform: translate3d(0px, 0px, 0em) rotate(0deg) translate(0.15em, 0.3em);
    transform-origin: center;
  }
}

/*
 * Added: 2022-06-21 19:32:13
 */
.name-3 {
  position: absolute;
  z-index: 10;
  background-color: #ef3e79;
  color: #dedad1;
  /* padding: 0.2em 1em; */
  padding: 0.3em 1em;
  /* border-radius: 0.5em; */
  border-radius: 0.7em;
  /* font-weight: bold; */
  /* text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0; */
  transition: 1.4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: 0.6s right-to-left cubic-bezier(0.68, -0.55, 0, 2.18),
    0.8s right-to-left ease-in-out, 1s bar-3-out ease 8s;
  transform: rotateZ(-5deg);
  min-width: 10%;
  font-size: smaller;
}

.msg-3 {
  border-radius: 2.5em;
  color: #72430e;
  background-color: #ffecc4;
  padding: 2.5em 1.8em;
  font-size: large;
  margin: 5px 0;
  display: inline-block;
  position: relative;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1.2s text-shake-3 cubic-bezier(0.68, -0.55, 0, 2.18);
  /* animation: 1.2s text-shake-3 cubic-bezier(0.68, -0.55, 0, 2.18),
  1s filp cubic-bezier(0.4, 0, 0.2, 1) 0.2s; */
  min-width: 60%;
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
}

/* 2023 Added: 2023.01.22 */
.msg-3-admin {
  border-radius: 2.5em;
  color: #dff4ff;
  background-color: #1f3e53e6;
  padding: 2.5em 1.8em;
  font-size: large;
  margin: 5px 0;
  display: inline-block;
  position: relative;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1.2s text-shake-3 cubic-bezier(0.68, -0.55, 0, 2.18);
  min-width: 60%;
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
}

/* 2023 Added: 2023.01.22 */
.msg-3-2023 {
  border-radius: 2.5em;
  color: #ded7d7;
  background-color: #a21232;
  padding: 2.5em 1.8em;
  font-size: large;
  margin: 5px 0;
  display: inline-block;
  position: relative;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1.2s text-shake-3 cubic-bezier(0.68, -0.55, 0, 2.18);
  min-width: 60%;
  font-family: "GEETYPE-CuYuanGBT-Flash";
  background-image: url(./img/pngtree-chinese-new-year-lunar-red-decorative-lantern-png-image_4339170.png);
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
}

.bar-3 {
  background-color: unset;
  box-shadow: unset;
  animation: 1s margin-left-in cubic-bezier(0.68, -0.55, 0, 2.18),
    0.6s bar-3-out ease 8s, 1s padding-height ease-in-out;
  padding: 5px 8px;
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
}

.bar-3-onlyin {
  background-color: unset;
  box-shadow: unset;
  animation: 1s margin-left-in cubic-bezier(0.68, -0.55, 0, 2.18),
    1s padding-height ease-in-out;
  animation-fill-mode: forwards;
  padding: 5px 8px;
  transform: translateX(0);
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
  transform: rotateY(358deg);
  perspective: 200px;
}

@keyframes margin-left-in {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes margin-left-out {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 150%;
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(200%) rotateZ(5deg);
  }
  100% {
    transform: translateX(0) rotateZ(-5deg);
  }
}

@keyframes text-shake-3 {
  0% {
    transform: translate3d(10px, -2px, 0em) rotate(-5deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0em) rotate(0deg);
  }
}

@keyframes bar-3-out {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(150%) rotate(-10deg);
    opacity: 0.3;
  }
}

.profilephoto-3 {
  width: 20%;
  position: absolute;
  float: left;
  right: 10%;
  bottom: 0;
  border-radius: 20%;
  transform: rotate3d(1, 1, 1, 345deg);
  z-index: 20;
  /* box-shadow: 2px 6px 3px 0px #c2a27f9e; */
}

#cb-app-visitor-queue-display {
  width: -webkit-fill-available;
  /* width: 100%; */
  /* height: 5em;  */
  display: -webkit-box;
  float: left;
  /* overflow: hidden; */
  padding: 5px 8px;
}

.visitor-queue-display-profile {
  width: 4em;
  height: 4em;
  display: block;
  background-color: beige;
  margin-right: 5px;
  border-radius: 0.3em;
  transition: 0.4s all ease;
  animation: 1.6s slide-to-right cubic-bezier(0.68, -0.55, 0.27, 1.55) 7s,
    /* 1.6s padding-width-out ease 7s,  */ 1.7s bodycolor ease,
    1s padding-height ease-in-out, 1s padding-width ease-in-out, 1.4s padding-height-out ease 7s;
  box-shadow: 0px 0px 6px 2px #6262be;
}

@keyframes slide-to-right {
  0% {
    transform: translateX(0px) rotate3d(0, 0, 1, 0deg);
    filter: blur(0px) brightness(1);
  }

  60% {
    filter: blur(1px) brightness(0.9);
  }

  100% {
    transform: translateX(400px) rotate3d(0, 0, 1, 270deg);
  }
}

@keyframes padding-width {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 50em;
  }
}

@keyframes padding-height-out {
  0% {
    max-height: 50em;
  }

  100% {
    max-height: 0;
  }
}

@keyframes padding-height-out-top {
  0% {
    transform-origin: top;
    max-height: 50em;
  }

  100% {
    transform-origin: top;
    max-height: 0;
  }
}

@keyframes padding-width-out {
  0% {
    max-width: 50em;
  }

  100% {
    max-width: 0;
  }
}

@keyframes QA-frame-2-out {
  0% {
    transform: translateX(0px);
    transform-origin: top;
    max-height: 50em;
  }

  100% {
    transform: translateX(350px);
    transform-origin: top;
    max-height: 0em;
  }
}

.QA-frame-2 {
  width: auto;
  height: auto;
  border: 1px solid #f0f4f6;
  padding: 1em;
  background-color: #539ef6;
  box-shadow: inset 0 0 0px 6px #ffffff;
  overflow: hidden;
  animation: 1s toolbar-icon cubic-bezier(0.39, 0.1, 0, 1.16),
    /* 1.4s toolbar-icon-out ease 7s, */
      /* 1.8s padding-height-out ease 6.6s, */ 1.4s QA-frame-2-out ease 7s;
  margin-bottom: 0.5em;
  /* animation-fill-mode: forwards; */
  border-radius: 0.3em;
  background-image: url("./img/NSwitch_AnimalCrossingNewHorizons_bg_leaves_lightgreen.jpg");
  background-position: center;
  background-blend-mode: luminosity;
  background-size: cover;
}

.QA-title-2 {
  color: #cdcdcd;
  margin-bottom: 0.2em;
  animation: 1.8s lv-2;
}

.QA-question-2 {
  color: #eee;
  margin-bottom: 1.2em;
  animation: 1.6s msg-2;
  font-family: "GEETYPE-CuYuanGBT-Flash", "Fredoka One", "Microsoft YaHei",
    "sans-serif";
}

.QA-frame-2-vip {
  width: auto;
  height: auto;
  border: 1px solid #f6f0f1;
  padding: 1em;
  background-color: #f6538c;
  box-shadow: inset 0 0 0px 6px #ffffff;
  overflow: hidden;
  animation: 1s toolbar-icon cubic-bezier(0.39, 0.1, 0, 1.16),
    /* 1.4s toolbar-icon-out ease 7s, */
      /* 1.8s padding-height-out ease 6.6s, */ 1.4s QA-frame-2-out ease 7s;
  margin-bottom: 0.5em;
  /* animation-fill-mode: forwards; */
  border-radius: 0.3em;
  background-image: url("./img/NSwitch_AnimalCrossingNewHorizons_bg_leaves_lightgreen.jpg");
  background-position: center;
  background-blend-mode: luminosity;
  background-size: cover;
}

@keyframes toolbar-icon-out {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(350px);
  }
}

.profilephoto-3-vip {
  width: 20%;
  position: relative;
  display: block;
  float: right;
  border-radius: 20%;
  transform: rotate3d(1, 1, 1, 345deg) scale(1.5) translateY(16px);
}

.toptoolbar-window {
  height: fit-content;
  padding: 0.5em 0;
  flex-wrap: wrap;
  width: 300px;
  background-color: #070707;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset -2px -3px 2px 0px #b9b9b9, inset 1px 2px 1px 0px #ededed,
    -2px -1px 0px 0px #424242, 1px 2px 0px 0px #000000;
  animation: 0.4s msg-2;
  margin-bottom: 10px;
  padding-top: 1.5em;
}

.toptoolbar-frame {
  color: #eee;
  width: 100%;
  height: fit-content;
  margin: 0.2em 0.5em;
  float: left;
}

.toptoolbar-label {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.3em;
  font-size: initial;
}

.toptoolbar-icon {
  margin-right: 0.5em;
  display: inline-block;
}

.toptoolbar-icon:hover .toolbar-icon {
  background-color: #1a2222;
}

.toptoolbar-icon-enable {
  background-color: #1b8e9b;
  box-shadow: inset -2px -3px 2px 0px #3aa7b7, inset 1px 2px 1px 0px #82e6f7,
    -2px -1px 0px 0px #3a3789, 1px 2px 0px 0px #000000;
}

.toptoolbar-icon-disable {
  background-color: #ac1e45;
  box-shadow: inset -2px -3px 2px 0px #b73a67, inset 1px 2px 1px 0px #f782a6,
    -2px -1px 0px 0px #894437, 1px 2px 0px 0px #000000;
}

.toptoolbar-tooltip {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.3em;
  font-size: initial;
  text-align: center;
}

.toptoolbar-tooltip-sign-enable {
  height: 50px;
  background-color: #1b8e9b;
}

.toptoolbar-tooltip-sign-disable {
  height: 50px;
  background-color: #ac1e45;
}

span.time {
  display: block;
  font-size: small;
  float: right;
  color: #f5c0ad;
  font-family: "Denk One";
  position: absolute;
  right: 7.8em;
  bottom: 1.4em;
  z-index: 10;
  animation: 1.6s text-2 1.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.tab-content .info-icon {
  position: absolute;
}

div#cb-app-cloudmusic-player {
  height: 1.5em;
  background-color: #181938db;
  border-radius: 0.3em;
  /* background-image: url("./img/NSwitch_AnimalCrossingNewHorizons_bg_leaves_lightgreen.jpg"); */
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  border-radius: 15% 25% 30% 30%;
  margin-bottom: 1em;
  /* overflow: hidden; */
  perspective: 150px;
  transition: 0.4s all ease;
}

img.cloudmusic-player-cover {
  width: 2em;
  position: absolute;
  float: left;
  z-index: 20;
  border-radius: 20%;
  background-color: rgb(255, 223, 74);
  transform: rotateY(72deg) translate(0px, -0.15em);
}

.cover-flip {
  animation: 1.5s cover-flip ease-in-out;
}

.cover-flip-revert {
  animation: 1.5s cover-flip-revert ease-in-out;
}

@keyframes cover-flip {
  0% {
    transform: rotateY(72deg) translate(0px, -0.15em);
  }

  100% {
    transform: rotateY(430deg) translate(0px, -0.15em);
  }
}

@keyframes cover-flip-revert {
  0% {
    transform: rotateY(430deg) translate(0px, -0.15em);
  }

  100% {
    transform: rotateY(72deg) translate(0px, -0.15em);
  }
}

.cloudmusic-player-info {
  width: 88%;
  float: left;
  font-size: small;
  overflow: hidden;
  padding: 0.5em 0;
  color: rgb(101 164 183);
  font-family: "GEETYPE-CuYuanGBT-Flash";
  margin-left: 2.7em;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.4s all ease;
}

div#cb-app-debug_display {
  font-family: "Consolas";
  font-size: small;
  padding: 1em 1em;
  background-color: #020202;
  color: #2de300;
  margin-bottom: 1em;
  border-radius: 0.4em;
  display: none;
}

.fade-in {
  animation: 3s fade-in ease, 2.8s padding-height ease 0.2s;
}

.fade-out {
  animation: 3s fade-out ease, 2.8s padding-height-out ease 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cloudmusic-player-marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes filp {
  0% {
    transform-origin: right;
    transform: rotateX(360deg) scale(0.1);
  }
  100% {
    transform-origin: right;
    transform: rotateX(0deg) scale(1);
  }
}

.bar-round {
  width: 100%;
  margin-bottom: 0.5em;
  float: left;
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
    font-size: smaller;
  animation: 1s toolbar-icon cubic-bezier(0.39, 0.1, 0, 1.16),
             1.4s QA-frame-2-out ease 7s;
}

span.name-round {
  padding: 0 0.5em;
  color: #ffffff;
}

.top-round {
  background-color: #13B4A7;
  border-radius: 0.6em 0.6em 0 0;
  padding-top: 0.5em;
}

.bottom-round {
  min-height: 2em;
  background-color: #6ECCBE;
  border: 0.2em solid #13B4A7;
  border-radius: 0 0 0.4em 0.4em;
  padding: 0.5em 0.5em;
  overflow: hidden;
  /* transition: 0.4s all ease-in-out; */
}

span.msg-round {
  color: #fff;
}

.time-round {
  width: 100%;
  margin-top: 0.2em;
  color: #eee;
}

/* ADDED 23.02.24 */
.app-clock-top {
  width: 100%;
  float: left;
  height: auto;
}

.app-clock-top-time {
  display: inline;
  font-size: xx-large;
  margin-left: 0.25em;
  letter-spacing: 0.07em;
}

.app-clock-top-daynight {
  display: inline;
  font-size: medium;
  margin-left: 0.25em;
  letter-spacing: 0.05em;
}

.app-clock {
  width: 100%;
  height: -webkit-fill-available;
  font-family: "GEETYPE-CuYuanGBT-Flash", "M PLUS Rounded 1c", "Fredoka One",
    "Microsoft YaHei", "sans-serif";
    color: #FCFFF1;
}

.app-clock-middle {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.app-clock-middle-line {
  width: 45%;
  height: 3px;
  border-radius: 1em;
  display: block;
  background-color: #FCFFF1;
}

.app-clock-bottom {
  width: 100%;
  float: left;
  height: fit-content;
}

.app-clock-bottom-date {
  display: inline;
  margin-left: 0.3em;
  float: left;
  margin-top: 2.5px;
}

.app-clock-bottom-day {
  display: inline;
  margin-left: 0.4em;
  background-color: #FCFFF1;
  border-radius: 0.8em;
  color: #383737;
  font-size: small;
  padding: 2px 12px;
  float: left;
  margin-top: 2.7px;
  font-weight: bold;

}

/* ADDED: 23/03/26 */
.bar-classic {
  /* background-color: #1e1e1e; */
  background-color: #4b118e;

  animation: 0.4s name-classic;
  /*animation: 1s name-2 cubic-bezier(0.68, -0.51, 0.1, 1.79);*/
  padding: 2px 4px;

  /* box-shadow: 0px -2px 0px #2f2f2f, 0px -3px 0px #000000; */
  box-shadow: inset -2px -3px 2px 0px #000000,
      inset 1px 1px 1px 0px #7345a9,
      inset -4px 2px 0px 0px #331c60;
  filter: drop-shadow(2px 4px 6px black);

}

.bar-classic:hover {
  background-color: #312149;
  transition: 0.2s all ease;
}

@keyframes name-classic {
  0% {
      transform: rotate3d(0, 1, 0, 180deg);
      /* transform: rotate3d(1, 0.1, -0.05, 180deg); */
      opacity: 0;
  }

  50% {
      background-color: rgb(145, 144, 243);
  }

  100% {
      transform: rotate3d(0, 0, 0, 0deg);
      opacity: 1;
  }

}

.name-classic {
  color: orange;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  /* 普通彩色 */
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
  /* 立体风彩色 */
  /* text-shadow: #f00 1px 0 0, #00ff0a 0 1px 0, #1000ff -1px 0 0, #373737 0 -1px 0; */
  transition: 1.4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: 0.8s text-classic;

}

@keyframes text-classic {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }

}

.msg-classic {
  margin: 5px 0;
  color: #ededed;
  display: inline-block;
  position: relative;
  transition: 0.4s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 0.6s msg-classic;

  /* text-shadow: #000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0; */
  /* font-weight: bold; */

  /* font-weight: lighter; */

}

@keyframes msg-classic {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }

}

.col {
  float: left;
}

.col-3 {
  width: 33.3%;
}

.col-7 {
  width: 66.7%;
}

.col-10 {
  width: 100%;
}

.loading-sandwatch {
  animation: loading-rotating 6s linear infinite;
}

@keyframes loading-rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.loading-note {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    font-size: small;
    text-align: center;
    left: 0;
    color: #cb2222;
}

.hidden {
  display: none;
}

.loading-frame {
  width: auto;
  height: auto;
  border: 1px solid #f0f4f6;
  padding: 1em;
  background-color: #539ef6;
  box-shadow: inset 0 0 0px 6px #ffffff;
  overflow: hidden;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  background-image: url("./img/NSwitch_AnimalCrossingNewHorizons_bg_leaves_lightgreen.jpg");
  background-position: center;
  background-blend-mode: luminosity;
  background-size: cover;
}

.loading-frame-in {
  animation: 0.4s loading-frame-in cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-fill-mode: forwards;
}

.loading-frame-out {
  animation: 1s loading-frame-out cubic-bezier(0.68, -0.46, 0.19, 1.2);
  animation-fill-mode: forwards;
}

@keyframes loading-frame-in {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loading-frame-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}

.meme-image {
  height: auto;
  transform: translate(0.15em, 0.3em);
  transition: 0.4s all ease;
  animation: 0.8s text-shake-2;
  transform-origin: center;
}